
:root{
  --sidebar-bg-dark-color :#202123;
  --chat-box-bg-dark-color : #343541;
  --light--dark-withe :rgba(255, 255, 255, 0.2);
  --history-color : #8E8EA0;
  --input-color :#40414F;
  --icon-send-color :rgb(25, 195, 125);

}


.app{
  background-color: var(--chat-box-bg-dark-color);
}

::-webkit-scrollbar {
  width: .2rem;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--sidebar-bg-dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--history-color);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

.container{
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.aside{
  width: 260px;
  background-color: var(--sidebar-bg-dark-color);
  padding: 1rem;
  transition:  ease-in-out 0.3s;
  height: 100%;
  overflow: hidden;
}


.aside-close{
  width: 0px;
  padding: 0;
}

.sidebar-container{
  height: 100%;
}

.aside.aside-close .sidebar-container{
  display: none !important; 
  visibility: hidden !important;
  opacity: 0 !important;
}

.chat-box-w-full{
  width: 100%  !important;
}

.chat-box{
  width: calc(100% - 260px);
  background-color: #343541;
  display: flex ;
  flex-direction: column ;
  transition: ease-in-out 0.5s;
  /* justify-content: space-between; */
  /* padding: 1rem 13%; */
  overflow-y: scroll;
}

.new-chat{
  border-radius: 0.4rem;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  color: white;
  width: 75%;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
}

.new-chat-small {
  border-radius: 0.4rem;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.8rem;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.new-chat-text{
  margin-left: 1rem;
  font-size: 1rem;
}

.new-chat-small-text{
  margin-left: 1rem;
  font-size: 1rem;
}

.row{
  display: flex;
  justify-content: space-between;
}
.close-sidebar-icon{
  width: 20%;
  border-radius: 0.4rem;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  font-size: 1rem;
  opacity: 1;
}

.close-small-sidebar-icon{
  position: absolute;
  right: -3rem;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.8rem;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  font-size: 1rem;
  opacity: 1;
}
.icon-xmark{
  color: white;
}

.open-sidebar-icon{
  position: absolute;
  padding: 1rem;
  left: 1.4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
}

.open-sidebar-icon-hide{
  opacity: 0;
  visibility: hidden;
}


.sidebar-body{
  height: 60%;
}

.sidebar-body-small{
  height: 60%;
}


.sidebar-footer{
  display: flex;
  justify-content:center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-small-footer{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content:center;
  align-items: center;

}






.body-description{
  padding-top: 2rem;
  text-align: center;
  color: var(--history-color);
  font-style: italic;
}


.items{
  padding:1rem  0rem;
  width: 100%;
}

.items-small{
  padding:0  0rem;
  width: 100%;
}

.icon-sidebar-footer{
  color: white;
  font-size: 1rem;
}

.icon-sidebar-small-footer{
  color: white;
  font-size: 1rem;
}

.item{
  display: flex;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 0.2rem;
}

.item:hover{
  background-color: var(--chat-box-bg-dark-color);
  border-radius: 0.2rem;
 
}

.item-small {
  display: flex;
  margin-top: 0.5rem;
  cursor: pointer;
}

.name{
  color: white;
  margin-left: 1rem;
  font-size: 1rem;
}

.name-small{
  color: white;
  margin-left: 1rem;
  font-size: 1rem;
}





.input-text{
  background-color: var(--input-color );
  border-radius: 0.8rem;
  padding: 1rem;
  border: none;
  font-size:1rem;
  resize: none; 
  overflow: hidden;
  width: 75%;
}

.button-group{
  width: 25%;
  position: absolute;
  right: 1.5rem;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.tokens{
  color: white;
}



.textarea-container{
  border-radius: 0.4rem;
  background-color: var(--input-color);
  position: relative;
  width: 100%;
  display: flex;
}


textarea
{
    font-size:1rem;
    color: white;
    resize: none; 
    overflow: hidden;
    width: 95%;
}



::placeholder {
  color: var(--history-color);
}

textarea:focus{
  outline: none;
}



.icon-send{
  padding: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.icon-send.active{
  background-color:var(--icon-send-color);
}

input[type="file"] {
  display: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

label i{
  font-size : 1.5rem;
}

.chat-content{
  height:73%;
  padding: 0 18%;
  overflow-y: scroll;
  transition: ease-in-out 0.3;
}

.bot-response{
  background-color: rgba(68,70,84,1);
}


.chat-footer{
  position: fixed;
  width: calc(100% - 260px);
  bottom: 0rem;
  padding: 2rem 18%;
  background-color:#343541;
  transition: ease-in-out 0.5s;
  border-top: 1px solid var(--light--dark-withe);
  box-shadow: 0 -5px 10px rgba(0,0,0,0.5);
}

.chat-box-w-full .chat-footer{
  width: 100%;
}

.textarea-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
 

  /* padding-right: 2rem;
  padding-left: 2rem; */
}

.icon-bars{
  color: var(--light--dark-withe);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.download{
  text-decoration: underline;
  color : rgba(41,100,170,1);
  cursor: pointer;
}

.download:hover{
  color : rgba(98,154,221,1)
}


.response-row{
  margin-top: 1rem;
  display : flex;

 
  /* align-items: center; */
  /* position: relative; */
}

.avatar{
  /* position: absolute;
  left: 0;
  top : 0; */
  width: 5%;
}

.response-text{
  margin-left: 0rem;
  margin-top: 0.3rem;
  /* position: absolute; */
  top: 0;
  color: white;
  width: 95%;
  word-wrap: break-word; 
  margin-left: 0.8rem;
  transition: ease-in-out 0.5s;
  
}

.chat-row{
  margin-bottom: 5rem;
}

.chat-header{
  height: 10%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--light--dark-withe);
  /* transition: ease-in-out 0.3s; */
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: ease-in-out 0.5s ;
}

.chat-header.hidden {
  height: 0;
  visibility: hidden;
  opacity: 0;
   padding: 0rem;
  transform: translateY(-100%);
}

.model-box{
  color : white;
  cursor: pointer;
}




.tokens-container-small{
  display: none;
}

@media screen and ((min-width: 768px) and (max-width: 1024px)){
  .chat-box{
    padding: 1rem 1rem;
  }
  .new-chat {
    padding: 0.5rem;
    font-size: 1rem;
    align-items: center;
    width: 83%;
  }

  .new-chat-text {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .items {
    padding: 0 1rem;
  
    }

  .item {
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
  }

  

  .button-group{
    bottom: 0rem;
    display: flex;
    align-items: center;
  }
  .name{
    font-size: 1rem;
  }

  .close-sidebar-icon {
    width: 15%;
    padding: 0.5rem;
  }

  .sidebar-body{
    height:65%;
  }

  .body-description {
    font-size: 0.8rem;
  }

  .input-text {
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .icon-send {
    
  }



  .open-sidebar-icon{

    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
  }
}



@media screen and (max-width: 376px){
  .sidebar-body-small{
    height: 60%;
  }

  .input-text{
    width: 85% !important;
  }

  .button-group{
    width: 20%;
    right: 2rem;
  }

  .chat-content{
    height: 75%;
    padding : 0 0.5rem;
  }

  .container{
    height: 100svh; 
  
  }

  .chat-footer{
    padding : 0.5rem 10% !important;
  }

  
  .aside{
    height: 100svh; 
  }
}



@media screen and (max-width: 760px){
  .tokens{
    width: 60px;
    font-size: 0.5rem;

  }

  .open-sidebar-icon{

    display: none;
  }
  .response-row{
   
    padding-right: 1.2rem;
   
    /* align-items: center; */
    /* position: relative; */
  }

  .chat-content{
    height: 75%;
    padding : 0 1rem 2rem 1rem;
  }

  .tokens-container{
    display: none;
  }
  .tokens-container-small{
    display: block;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
  }

  .tokens-small{
    color: white;
    font-size: 0.8rem
  }
 
  .aside{
    height: 100svh; 
  }
  .container{
    height: 100svh; 
  }
  .chat-box{
    width: 100%;
  
  }

  .input-text{
    padding: 1rem;
    border: none;
    font-size:16px;
    resize: none; 
    overflow: hidden;
    width: 80%;
  }

  .icon-send{
    width: 30px;
    height: 30px;
    right: 0.5rem;
    bottom: 0.6rem;
  }

  .button-group{
    bottom: 0.5rem;
    width: 20%;
    right: 0.2rem;
  }

  .button-group i{
    font-size: 1rem;
  }



  .chat-footer{
    position: fixed;
    width: 100%;
    bottom: 0.5rem;
    padding: 1.5rem 10%;
    background-color: #343541;
  }

 

  

 
  .aside{
    display: none;
  }

  .icon-bars{
    display: inline-block;
  }

  .textarea-container {
    border-radius: 0.3rem;
  }
  
  .response-text{
    margin-left: 1.5rem;
  }

  .textarea-box{
    margin-bottom: 1rem
  }
}

.open-sidebar-icon-i{
  color: white;
}
/* mode clair */




.app.clear .chat-box{
  background-color: #f7f7f8;
}
.app.clear .chat-footer{
  background-color: #f7f7f8;
}

.app.clear .response-text{
  color: black;
}
.app.clear .model-box{
  color: black;
}
.app.clear .icon-bars{
  color: black !important;
}

.app.clear .textarea-container{
  background-color: white;
}

.app.clear .input-text{
  background-color: white;
  color: black;
}



.app.clear  .tokens-small{
  color: black;
}
.app.clear  .tokens{
  color: black;
}

.app.clear  label{
  color: var(--history-color);
}

.app.clear  .icon-sidebar-footer{
  color: var(--history-color);
}

.app.clear .icon-send.active  .icon-sidebar-footer {
  color: white;
}
.app.clear  .open-sidebar-icon{
  background-color: white;
  border: 1px solid black;
} 


.app.clear  .open-sidebar-icon i{
  color: black;
}




