@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #343541;
}

 .aside-small{
    position: absolute;
    z-index: 999;
    left: -1500px;
    width: 65%;
    background-color: #202123;
    padding: 1rem;
    transition:  linear 0.5s;
    height: 100svh; 
   box-shadow: 200px 0px 10px rgba(255, 255, 255, 0);
  }


@media screen and (max-width: 760px){
  
  .aside-small-show{
    left: 0;
    box-shadow: 200px 0px 10px rgba(255, 255, 255, 0.2);
  }

}

@media screen and (min-width: 1500px){
  
  .aside-small{
    left: -10000px;
  }

}


.aside-small.clear .icon-xmark{
  color: black !important;

}
.aside-small.clear .close-small-sidebar-icon{
  border: 1px solid black !important;
}

.aside-small.aside-small-show.clear {
  box-shadow: 200px 0px 10px rgba(0, 0, 0, 0.7 );
}




